<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

    <properties>
        <property name="basePath">./Logs</property>
    </properties>

    <!-- Appenders define where the log output will go -->
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>
        
        <!-- File Appender -->
        <RollingFile name="File" fileName="${basePath}/automation.log" filePattern="${basePath}/automation-%d{yyyy-MM-dd}.log" append="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            
            <!-- Rolling policy based on file size -->
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <!-- Loggers define log levels and assign appenders -->
    <Loggers>
        <!-- Root Logger -->
        <!-- if i write (level=off) then it will not store logs -->
        <!-- if i write (level=Debug) then it show debug(developer can easily understand that) -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>

        
    </Loggers>
</Configuration>
