<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="day1.SignUpTest"/>
      <class name="day1.LoginTest"/>
      <class name="day1.LoginTest2"/>
      <class name="day1.LogOutTest"/>
      <class name="day1.CampTest"/>
      <class name="day1.ForgotPasswordTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
